/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
#board{
    margin: auto;
    width: 50%;
   
}
.row{
    display: flex;
    
}

.coloum{
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

.row .coloum:nth-of-type(even) {
    background-color: black;
}

.row .coloum:nth-of-type(odd) {
    background-color: white;
}

.row:nth-of-type(even)
.coloum:nth-of-type(even){
    background-color: white;
}
.row:nth-of-type(even)
.coloum:nth-of-type(odd){
    background-color: black;
}

.background{
    background-color: yellow !important; 
  }
  